* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FF9E2B;
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    position: absolute;
    width: 197px;
    height: 45px;
    left: 89px;
/*    top: 27px;*/

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    line-height: 49px;
    font-size: 28px;
    text-align: center;

    color: #FFFFFF;
}

#back {
    position: absolute;
    width: 14px;
    height: 24px;
    left: 29px;
    top: 29px;
}

#Y {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 311px;
    top: 10px;
}

#X {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 131px;
    top: 761px;
}

p {
    position: absolute;
    width: 239px;
    height: 52px;
    left: 20px;
    top: 133px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    font-size: 24px;
    text-align: center;

    color: #86342F;
}

h2 {
    position: absolute;
    width: 74px;
    height: 65px;
    left: 60px;
    top: 95px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;

    color: #000000;
}

h3 {
    position: absolute;
    width: 185px;
    height: 22px;
    left: 116px;
    top: 730px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}

#restaurantBorder {
    position: absolute;
    width: 250px;
    height: 119px;
    left: 64px;
    top: 200px;

    background: #86342F;
}

#n13 {
    position: absolute;
    width: 228px;
    height: 97px;
    left: 11px;
    top: 11px;
}

#dot1 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 157px;
    top: 332px;
}

#dot2 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 157px;
    top: 402px;
}

#dot3 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 157px;
    top: 472px;
}

#profile {
    position: absolute;
    width: 79.51px;
    height: 79.51px;
    left: 147px;
    top: 542px;
}

#dot4 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 157px;
    top: 630px;
}