* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FF9E2B;
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    position: absolute;
    width: 231px;
    height: 31px;
    left: 72px;
    top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 28px;
    text-align: center;

    color: #FFFFFF;
}

#back{
  position: absolute;
  width: 14px;
  height: 24px;
  left: 29px;
  top: 29px;
}

#button {
    position: absolute;
    width: 104px;
    height: 56px;
    left: 252px;
    top: 670px;

    background: #86342F;
}

#done {
    position: absolute;
    width: 62px;
    height: 20px;
    left: 20px;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}

h2 {
    position: absolute;
    width: 271px;
    height: 470px;
    left: 50px;
    top: 120px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;

    color: #000000;
}

.settings {
    position: absolute;
    width: 375px;
    left: 10px;
}

.formfields {
    top: 200px;
    padding-left: 20%;
    margin-right: 80px;
    margin-bottom: 12px;
    font-size: 24px;
    width: 375px;
}

.container {
  display: block;
  font-weight:lighter;
  position: relative;
  top: 200px;
  padding-left: 20%;
  margin-right: 80px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-left: 15%;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF2D9;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #FFF2D9;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #86342F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

