* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FF9E2B;
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    font-size:28px;
    font-weight:lighter;
    margin:0px;
    margin-top: 30px;
    margin-bottom: 10%;
    margin-left:90px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #FFFFFF;
}


}
h3{
  color:white;
  padding-top: 100px;
  position: fixed;
  bottom: 0;
}

.camera {
    position: absolute;
    width: 0px;
    height: 0px;

    top: 91px;

    background: #FFFFFF;
}


#linesnearYoulabel{
    font-size: 36px;
    color:#FFFFFF;
    margin: 0px 0px 0px 10%;
}

ul{
    background-color: #FFF2D9;
    padding: 30% 0% 40% 0%;
    list-style-type: none;
}
li{
    font-size: 30px;
    margin: 50% 40% 0% 40%;
    color: #333333;
}

div#bottombox{
    font-size: 20px;
    display:inline-block;
    float:center;
    padding-left: 90px;
}

div#waittime{

    display:inline-block;
    float:center;
    padding-top: 60px;
}
#time{
    background-color:#FFF2D9;
}

input[type=submit]{
    margin: 30% 0px 0px 0px;
    width: 100%;
    font-size: 24px;
    background: #86342F;
    border: 2px solid #86342F;
    height: 50px;
    color: white;
}
